<nb-card>
    <nb-card-header>
        Smart Table
    </nb-card-header>
    <nb-card-body>
        <div class="col-12">
            <nb-card size="small">
                <nb-tabset fullWidth>
                    <nb-tab tabTitle="Full width tab #1">
                        <app-panel-administracion-usuarios-activos></app-panel-administracion-usuarios-activos>
                    </nb-tab>
                    <nb-tab tabTitle="Full width tab #2">
                        <app-panel-administracion-usuarios-inactivos></app-panel-administracion-usuarios-inactivos>
                    </nb-tab>
                </nb-tabset>
            </nb-card>
        </div>
    </nb-card-body>
</nb-card>
