<nb-card>
    <nb-card-header>
        ADMINISTRACIÓN DE USUARIOS
    </nb-card-header>
    <nb-card-body>
        <div class="col-12">
            <div class="row">
                <button nbButton outline status="success" (click)="abrirAltaUsuarioModal()">
                    <mat-icon>person_add</mat-icon>&nbsp;AGREGAR NUEVO USUARIO
                </button>
            </div>
            <div class="row">
                <nb-card size="small" class="100">
                    <nb-tabset fullWidth>
                        <nb-tab tabTitle="ACTIVOS">
                            <app-panel-administracion-usuarios-activos></app-panel-administracion-usuarios-activos>
                        </nb-tab>
                        <nb-tab tabTitle="ELIMINADOS">
                            <app-panel-administracion-usuarios-inactivos></app-panel-administracion-usuarios-inactivos>
                        </nb-tab>
                    </nb-tabset>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>
