<div class="container-flex" style="position: relative;">

    <!--<div>
      <img src="../../../../assets/images/softweb/logo_oscuro.png" style="padding: 1%;">
    </div>-->
    <div style="margin-top: 10%;">
        <div class="row m-0" style="padding-top: 1%;">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row m-0 pt-1">
                    <div class="col-lg-6 error-border text-center">
                        <span class="letras-404">404</span><br><br>
                        <span class="letras-ops">Oops...</span>
                    </div>
                    <div class="col-lg-6 text-center pt-2">
            <span class="texto-error">Lo siento, la pagina buscada no existe
              o no esta disponible en este momento
            </span>
                        <br>
                        <span class="texto-disculpa">Disculpe las molestias que esto pueda ocasionarle</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row m-0 pt-5" style="z-index: 1;">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 align-items-center">
                <button mat-raised-button class="btn-regresar" color="primary" [routerLink]="['/inicio']">
                    <mat-icon>arrow_back</mat-icon>
                    Regresar
                </button>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
    <div class="fixed-bottom" style="z-index: 0;">
        <!--style="margin-top: -13.6%;"-->
        <img src="../../../../assets/images/softweb/nubes_azul.png" width="100%" height="10%">
    </div>
</div>
