<div fxLayout="row">
    <nb-form-field class="col-12">
        <label class="label" for="input_busqueda">Buscar</label>
        <input nbInput fullWidth shape="rectangle" type="text" [(ngModel)]="filtro" (keyup)="buscarUsuario()" placeholder="Ingresa tu búsqueda" id="input_busqueda">
        <mat-icon matSuffix>search</mat-icon>
    </nb-form-field>
</div>
<!--<div class="full-name-inputs">
    <input type="text" nbInput fullWidth placeholder="Nick">
    <input type="text" nbInput fullWidth placeholder="Last Name">
</div>
<input type="password" nbInput fullWidth placeholder="Password">
<input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
<input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
<input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
<input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
<textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
<input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
<input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
<input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input">-->
<div fxLayout="row">
<table mat-table [dataSource]="dataSource" fxFlex="100" multiTemplateDataRows matSort>
    <ng-container matColumnDef="nombreCompleto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo </th>
        <td mat-cell *matCellDef="let usuario">
            {{usuario.nombre + ' ' + usuario.apepat + (usuario.apemat ? (' ' + usuario.apemat) : '')}} </td>
    </ng-container>
    <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de usuario </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.usuario}} </td>
    </ng-container>
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.correo}} </td>
    </ng-container>
    <ng-container matColumnDef="rfc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RFC </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.rfc ? usuario.rfc : '-'}} </td>
    </ng-container>
    <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
        <td mat-cell *matCellDef="let usuario" class="text-center">
            <mat-icon class="icono-exito">check</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="opciones" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Opciones </th>
        <td mat-cell *matCellDef="let usuario" class="text-center">
            <button class="icono-info" mat-icon-button matTooltip="Ver usuario"
                    (click)="abrirVistaEmpleadoModal(usuario)">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button class="icono-error"
                    mat-icon-button matTooltip="Eliminar usuario" (click)="actualizarEstadoEmpelado(usuario)">
                <mat-icon>delete</mat-icon>
            </button>
            <button color="primary" mat-icon-button matTooltip="Más opciones"
                    (click)="empleadoExpandido = empleadoExpandido === usuario ? null : usuario">
                <mat-icon>settings</mat-icon>
            </button>
        </td>
    </ng-container>
    <!--<ng-container matColumnDef="detalleDeExpansion">
        <td mat-cell *matCellDef="let usuario" [attr.colspan]="columnasMostradas.length">
            <div class="detalle-elemento"
                 [@detalleDeExpansion]="usuario == empleadoExpandido ? 'expanded' : 'collapsed'">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 mb-1">
                            <button class="btn-advertencia w-100" mat-flat-button
                                    (click)="abrirInformacionGeneralAdministrarEmpleadoModal(usuario)">
                                <mat-icon>create</mat-icon> Información general
                            </button>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <button class="btn-advertencia w-100" mat-flat-button
                                    (click)="abrirDireccionAdministrarEmpleadoModal(usuario)">
                                <mat-icon>create</mat-icon> Dirección
                            </button>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <button class="btn-advertencia w-100" mat-flat-button
                                    (click)="abrirContactoAdministrarEmpleadoModal(usuario)">
                                <mat-icon>create</mat-icon> Contacto
                            </button>
                        </div>
                        <div *ngIf="_serAutenticacion.obtener_IdUsuario() != usuario._id"
                             class="col-lg-4 mb-1">
                            <button class="btn-advertencia w-100" mat-flat-button
                                    (click)="abrirPermisosAdministrarEmpleadoModal(usuario)">
                                <mat-icon>create</mat-icon> Permisos
                            </button>
                        </div>
                        <div *ngIf="_serAutenticacion.obtener_IdUsuario() != usuario._id"
                             class="col-lg-4 mb-1">
                            <button class="btn-advertencia w-100" mat-flat-button
                                    (click)="abrirHorariosAdministrarEmpleadoModal(usuario)">
                                <mat-icon>create</mat-icon> Horarios
                            </button>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <button class="btn-advertencia w-100" mat-flat-button
                                    (click)="abrirFotoAdministrarEmpleadoModal(usuario)">
                                <mat-icon>create</mat-icon> Fotografía
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>-->
    <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
    <tr mat-row *matRowDef="let usuario; columns: columnasMostradas;"></tr>
    <!--<tr mat-row *matRowDef="let usuario; columns: ['detalleDeExpansion']" class="fila-detalle-elemento"></tr>-->
</table>
</div>
<div fxLayout="row">
<app-alerta *ngIf="dataSource != null && dataSource.data.length == 0" fxFlex="100"
            mensaje="No se tienen resultados registrados por el momento." color="advertencia"></app-alerta>
<app-alerta *ngIf="dataSource != null && dataSource.data.length != 0 && dataSource.filteredData.length == 0"
            mensaje="La búsqueda no arrojó resultados." color="info"></app-alerta>
<app-paginador #paginador [filtro]="filtro" [nombreElementos]="'Usuarios'" fxFlex="100"
               (cambioDePaginaEvento)="cambioDePaginaEventoPaginador($event)" [total]="totalUsuarios">
</app-paginador>
</div>
