<!--
Important link source from https://bootsnipp.com/snippets/ooa9M
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="dk-footer-box-info">
                    <a href="index.html" class="footer-logo">
                        <img src="https://serye.net:5529/default/logo.png" alt="footer_logo" class="img-fluid">
                    </a>
                    <p class="footer-info-text" style="text-align: justify;">
                        Soluciones en Refacciones y Equipos, S.A. de C.V. se pone a su disposición para brindarle las
                        soluciones más efectivas para su empresa.
                    </p>
                    <div class="footer-social-link">
                        <h3>Síguenos en nuestras redes</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    &lt;!&ndash; End Social link &ndash;&gt;
                </div>
                &lt;!&ndash; End Footer info &ndash;&gt;
                <div class="footer-awarad">
                    <img src="images/icon/best.png" alt="">
                    <p>Best Design Company 2019</p>
                </div>
            </div>
            &lt;!&ndash; End Col &ndash;&gt;
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-icon">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                            </div>
                            &lt;!&ndash; End contact Icon &ndash;&gt;
                            <div class="contact-info">
                                <h3>Aguascalientes, Ags., México</h3>
                            </div>
                            &lt;!&ndash; End Contact Info &ndash;&gt;
                        </div>
                        &lt;!&ndash; End Contact Us &ndash;&gt;
                    </div>
                    &lt;!&ndash; End Col &ndash;&gt;
                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            </div>
                            &lt;!&ndash; End contact Icon &ndash;&gt;
                            <div class="contact-info">
                                <h3>(449) 913 5996</h3>
                                <h3>(449) 624 9594</h3>
                            </div>
                            &lt;!&ndash; End Contact Info &ndash;&gt;
                        </div>
                        &lt;!&ndash; End Contact Us &ndash;&gt;
                    </div>
                    &lt;!&ndash; End Col &ndash;&gt;
                </div>
                &lt;!&ndash; End Contact Row &ndash;&gt;
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                <h3>Links usuales</h3>
                                <span class="animate-border border-black"></span>
                            </div>
                            <ul>
                                <li>
                                    <a [routerLink]="['/inicio']">Inicio</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/inicio/nosotros']">Nosotros</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a [routerLink]="['/inicio/productos']">Productos</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/inicio/contacto']">Contacto</a>
                                </li>
                            </ul>
                        </div>
                        &lt;!&ndash; End Footer Widget &ndash;&gt;
                    </div>
                    &lt;!&ndash; End col &ndash;&gt;
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget">
                            <div class="section-heading">
                                <h3>¡Contáctanos!</h3>
                                <span class="animate-border border-black"></span>
                            </div>
                            <p>&lt;!&ndash; Don’t miss to subscribe to our new feeds, kindly fill the form below. &ndash;&gt;
                                ¡Ingresa tu correo electrónico para ponernos en contacto contigo!</p>
                            <form action="#">
                                <div class="form-row">
                                    <div class="col dk-footer-form">
                                        <input type="email" class="form-control" placeholder="Correo electrónico">
                                        <button type="submit">
                                            <i class="fa fa-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            &lt;!&ndash; End form &ndash;&gt;
                        </div>
                        &lt;!&ndash; End footer widget &ndash;&gt;
                    </div>
                    &lt;!&ndash; End Col &ndash;&gt;
                </div>
                &lt;!&ndash; End Row &ndash;&gt;
            </div>
            &lt;!&ndash; End Col &ndash;&gt;
        </div>
        &lt;!&ndash; End Widget Row &ndash;&gt;
    </div>
    &lt;!&ndash; End Contact Container &ndash;&gt;


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>SERYE S.A. de C.V © 2019, All Right Reserved</span>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;
                &lt;!&ndash;<div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>&ndash;&gt;
                &lt;!&ndash; End col &ndash;&gt;
            </div>
            &lt;!&ndash; End Row &ndash;&gt;
        </div>
        &lt;!&ndash; End Copyright Container &ndash;&gt;
    </div>
    &lt;!&ndash; End Copyright &ndash;&gt;
    &lt;!&ndash; Back to top &ndash;&gt;
    <div id="back-to-top" class="back-to-top">
        <button class="btn btn-dark" title="Back to Top" style="display: block;">
            <i class="fa fa-angle-up"></i>
        </button>
    </div>
    &lt;!&ndash; End Back to top &ndash;&gt;
</footer>
-->
